/* =============================
   Tabs Styling
============================= */
.nav-tabs-c .nav-link-c {
  border: none !important;
  color: #6c757d !important;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem !important;
  margin-right: 0.5rem;
}

.nav-tabs-c .nav-link.active {
  background: #e9f2ff !important;
  color: #0d6efd !important;
}